extends layout

block content
    // Header
    header#header
      .intro
        .overlay
          .container
            .row
                .intro-text
    script.
        $.ajax({url: "/words/word_types", success: function(result){
            var select = $("[name = word_type]");
            result.forEach((val, i) => {
                var option = document.createElement("option");
                option.setAttribute("value", val.id);
                option.text = val.name;
                select.append($.parseHTML(option.outerHTML));
            });
        }});
    .text-center
            .container
                .col-md-10.col-md-offset-1.section-title
                    h2.page-header Insert New Word
                    //Show error message
                    if errors
                        each error, i in errors
                            div.alert.alert-danger #{error.msg}
                    if successes
                        each success, i in successes
                            div.alert.alert-success #{success.msg}
                    form(method='post', action='/words/insert')
                        .form-group
                            label 詞性
                            select.form-control(name='word_type')
                            //-     each t in word_types
                            //-         option(value=t.id) #{t.name}
                        .form-group   
                            label 日文
                            input.form-control(name='japanese', type='text', placeholder='Enter Japanese')
                        .form-group   
                            label 中文
                            input.form-control(name='chinese', type='text', placeholder='Enter Chinese')
                        .form-group
                            if data
                                input(name='id', type='hidden', value=data.id)
                        .form-group   
                            input.btn.btn-primary(type='submit', name='submit', value='insert')